body{
    background-color: #1E2E3C;
}

.main-header{
    background-color: #06131F;
    height: 80px;
}

.card{
    background-color: #112030;
}

.main.card:hover{
    background-color: #06131F;
    cursor: pointer;
}

.modal-dialog{
    background-color: #112030;
}

.modal .card{
    border: 0;
    border-radius: 0;
}

.modal button{
    position: absolute;
    top: 0;
    right: 0;
}