body{
    background-color: #1E2E3C;
}

.main-header{
    background-color: #06131F;
    height: 80px;
}

.main-header .logo{
    width: 80px;
}

.card{
    background-color: #112030;
}

.card:hover{
    background-color: #06131F;
    cursor: pointer;
}

.overlay{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: #1e2e3c9b;
    position: fixed;
}