body{
    background-color: #1E2E3C;
}

.main-header{
    background-color: #06131F;
    height: 80px;
}

.main-header .logo{
    width: 80px;
}

.card{
    background-color: #112030;
}

.card:hover{
    background-color: #06131F;
    cursor: pointer;
}